body {
background-color:sandybrown;

}

.nombresprogramadores{
    text-align: left;
    background-color: dodgerblue;
    color: black;
    margin: 10px;
    padding: 0;}
.nombresprogramadores:hover{
    text-align: right;
    background-color: black;
    color: dodgerblue;
    margin: 15px;
    padding: 0;

}

.lineaslargas {
    text-align:center;
    background-color: black;
    color: white;
    margin-right: 10px;
    padding: 5px;
    }
.lineaslargas:hover{
    background-color:white ;
    font-family:Elephant;
    color:black;
    margin: 20px;
    padding: 20px;
}
ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow:hidden;
    background-color: #333;
}

li {
    float:left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color:white;
    color:black;
}
footer{
    background-color: dimgrey;

}